@import "@catppuccin/palette/css/catppuccin.css";
@import "@material-design-icons/font/filled.css";

/* When app code has been loaded it sets the js-active class on the document.
   Hide .no-js elements when this is the case.
 */
html.js-active .no-js {
    display: none;
}

html {
    --theme-bg: var(--ctp-macchiato-base);
    --theme-text: var(--ctp-macchiato-text);
    --theme-text-subtle: var(--ctp-macchiato-overlay1);
    --theme-input-bg: var(--ctp-macchiato-surface2);
    --theme-input-shadow: var(--ctp-macchiato-surface0);
    --theme-active-border: var(--ctp-macchiato-lavender);
    --theme-item-bg: var(--ctp-macchiato-crust);
}

html:has(#light-theme:checked) {
    --theme-bg: var(--ctp-latte-base);
    --theme-text: var(--ctp-latte-text);
    --theme-text-subtle: var(--ctp-latte-overlay1);
    --theme-input-bg: var(--ctp-latte-surface0);
    --theme-input-shadow: var(--ctp-latte-surface2);
    --theme-active-border: var(--ctp-latte-lavender);
    --theme-item-bg: var(--ctp-latte-crust);
}

html {
    background-color: var(--theme-bg);
    color: var(--theme-text);
}

body {
    margin: 0;
    padding: 2rem;
}

body, input {
    font-family: Roboto, sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 87.5;
}

header, main {
    margin: 0 auto;
    width: auto;
    max-width: 80ch;
}

header {
    text-align: center;
    padding: 2.5rem;
    position: relative;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

#toggle-theme {
    position: absolute;
    top: 1rem; left: 1rem;
    opacity: 50%;
}

#light-theme {
    display: none;
}

#import-export {
    position: absolute;
    top: 0;
    right: 0;
}

#import-export input {
    padding: 0.75rem;
}

input[type="text"], input[type="button"], input[type="submit"] {
    padding: 1rem;
    border-style: none;
    border-radius: 1em;
    background-color: var(--theme-input-bg);
    color: var(--theme-text);
    font-weight: bold;
}

input[type="button"], input[type="submit"] {
    box-shadow:var(--theme-input-shadow) 0.15em 0.25em;
    transform: translate(-0.15em, -0.25em);
    transition-timing-function: ease-in-out;
    transition-property: transform, box-shadow;
    transition-duration: 0.1s;
}

input[type="text"] {
    box-shadow:var(--theme-input-shadow) 0.2em 0.3em inset;
    font-weight: normal;
}

input::placeholder {
    color: var(--theme-text-subtle);
}

input[type="button"]:hover, input[type="submit"]:hover {
    box-shadow:var(--theme-input-shadow) 0.2em 0.3em;
    transform: translate(-0.2em, -0.3em);
}

input[type="text"]:focus {
    outline: 0.15em solid var(--theme-active-border);
}

input[type="button"]:focus, input[type="submit"]:focus {
    outline: none;
}

input[type="button"]:active, input[type="submit"]:active {
    box-shadow: none;
    transform: none;
}

#todo-item-form {
    display: flex;
    font-size: 1rem;
    column-gap: 1rem;
    margin: 3rem 0;
}

#todo-item-entry {
    flex-grow: 1;
}

#todo-list {
    padding: 1rem;
}

#todo-list li {
    list-style: none;
    display: grid;
    column-gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    border-style: none;
    border-radius: 1em;
    background-color: var(--theme-item-bg);
    grid-template-columns: auto min(10ch, 20vw) min(10ch, 20vw);
}

.todo-item-text {
    grid-column: 1;
}

.remove-btn {
    grid-column: 2;
}

.done-btn {
    grid-column: 3;
}

#todo-list [data-todo-status="done"] .todo-item-text {
    color: var(--theme-text-subtle);
    text-decoration: line-through;
}

#todo-list [data-todo-status="done"] .remove-btn {
    grid-column: span 2;
}

#todo-list [data-todo-status="done"] .done-btn {
    display: none;
}
