/* When app code has been loaded it sets the js-active class on the document.
   Hide .no-js elements when this is the case.
 */
html.js-active .no-js {
    display: none;
}

html {
    background-color: paleturquoise;
    color: royalblue;
}

body {
    margin: 0;
    padding: 2rem;
    font-family: sans-serif;
}

header, main {
    margin: 0 auto;
    width: auto;
    max-width: 80ch;
}

header {
    text-align: center;
    padding: 2.5rem;
    position: relative;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

#import-export {
    position: absolute;
    top: 0;
    right: 0;
}

#import-export input {
    padding: 0.5rem;
}

input[type="text"], input[type="button"], input[type="submit"] {
    padding: 1rem;
    border-style: none;
    border-radius: 1em;
    background-color: aliceblue;
    color: royalblue;
    font-weight: bold;
}

input[type="button"], input[type="submit"] {
    box-shadow:rgb(0 0 255 / 40%) 0.15em 0.25em;
    transform: translate(-0.15em, -0.25em);
}

input[type="button"]:hover, input[type="submit"]:hover {
    box-shadow:rgb(0 0 255 / 40%) 0.2em 0.3em;
    transform: translate(-0.2em, -0.3em);
}

input[type="text"] {
    box-shadow:rgb(0 0 255 / 7%) 0.2em 0.3em inset;
}

input[type="button"]:active, input[type="submit"]:active {
    box-shadow: none;
    transform: none;
}

#todo-item-form {
    display: flex;
    font-size: 1rem;
    column-gap: 1rem;
    margin: 3rem 0;
}

#todo-item-entry {
    flex-grow: 1;
}

#todo-list {
    padding: 1rem;
}

#todo-list li {
    list-style: none;
    display: grid;
    column-gap: 1rem;
    padding: 1rem;
    margin: 1rem 0;
    border-style: none;
    border-radius: 1em;
    background-color: rgb(255 255 255 / 40%);
    grid-template-columns: auto min(10ch, 20vw) min(10ch, 20vw);
}

.todo-item-text {
    grid-column: 1;
}

.remove-btn {
    grid-column: 2;
}

.done-btn {
    grid-column: 3;
}

#todo-list [data-todo-status="done"] .todo-item-text {
    color: gray;
    text-decoration: line-through;
}

#todo-list [data-todo-status="done"] .remove-btn {
    grid-column: span 2;
}

#todo-list [data-todo-status="done"] .done-btn {
    display: none;
}
