name: Linting

on:
  push:
    branches:
        - main
    paths:
        - src/**
        - package.json
        - package-lock.json
        - eslint.config.js
        - .github/workflows/lint.yml

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install project dependencies
        run: npm ci

      - name: Lint JS and CSS with biome
        run: npx @biomejs/biome lint ./src/js ./src/css/style.css

      - name: Lint HTML with htmlhint
        run: npx htmlhint ./src/*.html