name: Deploy

on:
  push:
    branches:
        - main
    paths:
        - src/**
        - .github/workflows/upload.yml

jobs:
  upload:
    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{steps.deploy.outputs.page_url}}

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure Github Pages
        uses: actions/configure-pages@v5

      - name: Upload src directory as artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: src/

      - name: Deploy artifact to Github Pages
        id: deploy
        uses: actions/deploy-pages@v4
